body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Bootstrap Overrides */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #42b983;
    background-color: #42b983;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff0f5;
}

.navbar-inverse .navbar-brand {
    color: #fff0f5;
}

.navbar {
    border-width: 0 1px 0px 1px;
}

.btn-primary {
    color: #ffffff;
    background-color: #42b983;
    border-color: #42b983;
}

.navbar-inverse {
    background-color: #42b983;
    border-color: #42b983;
}

/*a {
    color: #f66;
    text-decoration: none;
}*/

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff0f5;
    background-color: #f66;
    border-color: #f66; /*set the color you want here*/
}

.form-control {
    -webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.075);
}