@model HandleErrorInfo
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 class="alert-danger">@Model.Exception.Message</h1>
        <h2>@Html.ActionLink("Return Home", "Index", "Home")</h2>
    </hgroup>
</body>
</html>
